[Unit]
Description=Manager McCode Activity Monitor
After=network.target

[Service]
Type=simple
User=%i
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/path/to/manager_mccode
ExecStart=/path/to/poetry run python run.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 